obj
bin
.vs
.idea
VG.Pm/Data/WeatherForecastService.cs
VG.Pm/Data/WeatherForecast.cs
Release/1.0/wwwroot/VG.Pm.styles.css
Release/1.0/wwwroot/favicon.png
Release/1.0/wwwroot/css/site.css
Release/1.0/wwwroot/css/open-iconic/README.md
Release/1.0/wwwroot/css/open-iconic/ICON-LICENSE
Release/1.0/wwwroot/css/open-iconic/font/fonts/open-iconic.woff
Release/1.0/wwwroot/css/open-iconic/font/fonts/open-iconic.ttf
Release/1.0/wwwroot/css/open-iconic/font/fonts/open-iconic.svg
Release/1.0/wwwroot/css/open-iconic/font/fonts/open-iconic.otf
Release/1.0/wwwroot/css/open-iconic/font/fonts/open-iconic.eot
Release/1.0/wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css
Release/1.0/wwwroot/css/open-iconic/FONT-LICENSE
Release/1.0/wwwroot/css/bootstrap/bootstrap.min.css.map
Release/1.0/wwwroot/css/bootstrap/bootstrap.min.css
Release/1.0/wwwroot/_content/MudBlazor/MudBlazor.min.js
Release/1.0/wwwroot/_content/MudBlazor/MudBlazor.min.css
Release/1.0/web.config
Release/1.0/VG.Pm.runtimeconfig.json
Release/1.0/VG.Pm.PmDb.pdb
Release/1.0/VG.Pm.PmDb.dll
Release/1.0/VG.Pm.pdb
Release/1.0/VG.Pm.exe
Release/1.0/VG.Pm.dll
Release/1.0/VG.Pm.deps.json
Release/1.0/System.Windows.Extensions.dll
Release/1.0/System.Security.Permissions.dll
Release/1.0/System.Security.Cryptography.ProtectedData.dll
Release/1.0/System.Runtime.Caching.dll
Release/1.0/System.Memory.Data.dll
Release/1.0/System.IdentityModel.Tokens.Jwt.dll
Release/1.0/System.Drawing.Common.dll
Release/1.0/System.Configuration.ConfigurationManager.dll
Release/1.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Release/1.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
Release/1.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Release/1.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Release/1.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Release/1.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Release/1.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Release/1.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Release/1.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Release/1.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Release/1.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Release/1.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Release/1.0/Newtonsoft.Json.dll
Release/1.0/MudBlazor.dll
Release/1.0/Microsoft.Win32.SystemEvents.dll
Release/1.0/Microsoft.SqlServer.Server.dll
Release/1.0/Microsoft.JSInterop.dll
Release/1.0/Microsoft.IdentityModel.Tokens.dll
Release/1.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Release/1.0/Microsoft.IdentityModel.Protocols.dll
Release/1.0/Microsoft.IdentityModel.Logging.dll
Release/1.0/Microsoft.IdentityModel.JsonWebTokens.dll
Release/1.0/Microsoft.IdentityModel.Abstractions.dll
Release/1.0/Microsoft.Identity.Client.Extensions.Msal.dll
Release/1.0/Microsoft.Identity.Client.dll
Release/1.0/Microsoft.Extensions.Options.dll
Release/1.0/Microsoft.Extensions.Localization.dll
Release/1.0/Microsoft.Extensions.Localization.Abstractions.dll
Release/1.0/Microsoft.Extensions.Features.dll
Release/1.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Release/1.0/Microsoft.EntityFrameworkCore.Relational.dll
Release/1.0/Microsoft.EntityFrameworkCore.dll
Release/1.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Release/1.0/Microsoft.Data.SqlClient.dll
Release/1.0/Microsoft.Bcl.AsyncInterfaces.dll
Release/1.0/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
Release/1.0/Microsoft.AspNetCore.SignalR.Common.dll
Release/1.0/Microsoft.AspNetCore.SignalR.Client.dll
Release/1.0/Microsoft.AspNetCore.SignalR.Client.Core.dll
Release/1.0/Microsoft.AspNetCore.Metadata.dll
Release/1.0/Microsoft.AspNetCore.Http.Connections.Common.dll
Release/1.0/Microsoft.AspNetCore.Http.Connections.Client.dll
Release/1.0/Microsoft.AspNetCore.Connections.Abstractions.dll
Release/1.0/Microsoft.AspNetCore.Components.Web.dll
Release/1.0/Microsoft.AspNetCore.Components.Forms.dll
Release/1.0/Microsoft.AspNetCore.Components.dll
Release/1.0/Microsoft.AspNetCore.Authorization.dll
Release/1.0/Azure.Identity.dll
Release/1.0/Azure.Core.dll
Release/1.0/appsettings.json
Release/1.0/appsettings.Development.json
